#aside {
  width: 80%;
  margin: auto;
padding: 0px 300px;
}
h2 {
  width: 25%;
  border: 1px solid black;
}
/*exercice consigne de base*/
#container {
  border : 1px solid black;
}
.element {
  width : 80px;
  height : 80px;
}
.element:nth-child(1), .element:nth-child(4), .element:nth-child(7), .element:nth-child(10){
  background-color : rgba(222, 8, 81, 0.49);
}
.element:nth-child(2), .element:nth-child(5), .element:nth-child(8), .element:nth-child(11) {
  background-color: rgba(81, 140, 183, 0.71);
}
.element:nth-child(3), .element:nth-child(6), .element:nth-child(9), .element:nth-child(12) {
  background-color: rgba(34, 177, 34, 0.78);
}
/*Display:flex*/
#container1, #container2, #container3, #container4, #container5, #container6, #container7,
#container8, #container9, #container10, #container11, #container11, #container12, #container13,
#container14, #container15, #container16, #container17, #container18, #container19, #container20,
#container21, #container22, #container23, #container24, #container25 {
  width: 50%;
  border : 1px solid black;
  display: flex;
}
#container2 {
  flex-direction: row;
}
#container3 {
  flex-direction: column;
}
#container4 {
  flex-direction: row-reverse;
}
#container5 {
  flex-direction: column-reverse;
}
#container6 {
  flex-wrap: nowrap;
}
#container7 {
  flex-wrap: wrap;
}
#container8 {
  flex-wrap: wrap-reverse;
}
#container9 {
  justify-content: flex-start;
}
#container10 {
  justify-content: flex-end;
}
#container11 {
  justify-content: center;
}
#container12 {
  justify-content: space-between;
}
#container13 {
  justify-content: space-around;
}
#container14, #container15, #container16, #container17, #container18, #container19 {
  height: 200px;
}
#container14 {
  justify-content: space-between;
  align-items: strecht;
  }
#container15 {
  justify-content: flex-start;
  align-items: flex-start;
  }
#container16 {
  justify-content: flex-end;
  align-items: flex-end;
  }
#container17 {
  justify-content: center;
  align-items: center;
  }
#container18 {
  justify-content: space-around;
  align-items: baseline;
  }
#container19 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  }
#container19 .element:nth-child(2) {          /* On prend le deuxième bloc élément */
  align-self: flex-end; /* Seul ce bloc sera aligné à la fin */
}
#aside1 {

}
#container20, #container21, #container22, #container23, #container24, #container25 {
  flex-wrap: wrap;
  height: 350px;
}
#container20 {
  align-content: flex-start;
}
#container21 {
  align-content: flex-end;
}
#container22 {
  align-content: center;
}
#container23 {
  align-content: space-between;
}
#container24 {
  align-content: space-around;
}
#container25 {
  align-content: stretch;
  }
